.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}

.white {
  color: #fff !important;
}

.statBox {
  text-align: center;
  margin: 10px;
}

.value {
  font-size: 64px;
  font-weight: bold;
  color: #ff0059;
  font-weight: 100;
}

.label {
  font-size: 24px;
  color: #2c2c2c;
}
