.testimonial_container {
  width: 55vw;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  background-color: #f9f9f9;
  border-radius: 3rem;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: 5rem;
}

.video {
  width: 30%;
  height: 100%;
  object-fit: cover;
}

.testimonial_box {
  width: 70%;
  padding: 2rem;
  box-sizing: border-box;
}

.head {
  color: #000000;
  font-size: 48px;
  font-weight: 100;
  padding: 10px 1rem;
}

.testimonial_box {
  width: 100%;
  margin: 5px 0;
  font-size: 24px;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.testimonial_person p:nth-child(1) {
  color: #000;
}

.testimonial_person p:nth-child(2) {
  color: #666;
}

.container {
  padding-bottom: 50px;
  position: relative;
}
.header {
  margin: 50px auto;
  display: table;
  font-size: 35px;
  border-bottom: 7px solid #3465c4;
}
.side_header {
  display: table;
  font-size: 35px;
  border-bottom: 7px solid #3465c4;
}
.carsouel_container {
  color: black;
  padding: 0 10px;
  display: flex;
  scroll-behavior: smooth;
  position: relative;
  overflow-x: auto;
  scrollbar-width: none;
}
.carsouel_box {
  cursor: pointer;
  margin: 18px 0;
  background: white;
  box-shadow: 8px 5px 19px 0px #0000004d;
  border: 1px solid #3465c4;
  border-radius: 5px;
  padding: 20px 25px;
  min-width: 350px;
  max-width: 350px;
}
.icon {
  border: 1px solid #3465c4;
  border-radius: 50%;
  padding: 5px;
}
.arrow_box {
  text-align: right;
  margin: 20px 10px;
}
.arrow_icon {
  padding: 5px 10px;
  border-radius: 50%;
  font-size: x-large;
  background: #ffffff;
  border: none;
  box-shadow: inset -12px -12px 41px 0px #3465c4;
  color: white;
  margin: 0 5px;
}
.blue_bg {
  color: black;
  background: #f3f7fe;
}
.elite_above {
  position: relative;
  top: 40px;
  z-index: 0;
  left: 40%;
}
.elite_bottom {
  position: relative;
  top: -40px;
  z-index: -1;
  left: 15%;
}
.elite_above_full {
  display: none;
}
.elite_bottom_full {
  display: none;
}
.page_container {
  padding: 50px 6px;
  max-width: 1280px;
  margin: 50px auto;
}
.d_flex {
  display: grid;
  gap: 25px;
  grid-template-columns: 2fr 1fr;
}
.description {
  margin: 0 80px;
  align-content: center;
}
.description p {
  padding: 20px 0;
}
.connect {
  padding: 10px 30px;
  margin: 50px auto;
  background: green;
  color: white;
  font-weight: 600;
  font-size: large;
  border-radius: 5px;
  border: 0;
}
.d_flexs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 50px auto;
  gap: 40px;
}
.card_icon {
  height: 200px;
  width: 200px;
}
.card {
  background: white;
  box-shadow: 1px 9px 9px 0px #8888882e;
  border-radius: 10px;
  padding: 30px 20px;
  text-align: center;
}
.card h2 {
  font-size: larger;
}
.card p {
  font-size: medium;
}
@media screen and (max-width: 800px) {
  .d_flex {
    display: flex;
    flex-wrap: wrap;
  }
  .description {
    margin: 0 15px;
  }
  .d_flexs {
    grid-template-columns: unset;
    margin: 50px 20px;
  }
}
