.container {
  background: white;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
  border-radius: 0.5rem;
  justify-content: space-between;
}
.head {
  display: flex;
  justify-content: space-between;
}
.head svg {
  font-size: xxx-large;
}
.tail h1 {
  font-weight: 100;
  margin-bottom: 20px;
}
