.box {
  display: flex;
  gap: 1rem;
  border: 1px solid #c2c2c2;
  padding: 1rem;
  justify-content: space-between;
  margin: 1rem auto;
}
.box > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.box p {
  font-size: 16px;
  color: #2c2c2c;
  margin: 0.2rem 0 1rem;
}

.box b {
  font-size: 32px;
  font-weight: 100;
  padding-top: 1rem;
  color: #2c2c2c;
}
.img {
  width: 25rem;
  height: auto;
  object-fit: cover;
  border-radius: 7px;
  margin-bottom: 0.5rem;
}
