.container {
  position: relative;
  margin: 5rem auto;
  padding: 2rem;
  max-width: 1540px;
}

.textContent {
  position: absolute;
  padding: 3rem 1rem;
}

.textContent h1 {
  margin-bottom: 1rem;
  font-size: 64px;
  font-weight: 100;
}

.textContent h1 span {
  font-weight: 700;
  display: block;
  color: #000;
}

.textContent p {
  color: #555;
  margin-bottom: 1.5rem;
  line-height: 1.5;
  width: 35%;
}

.cta {
  padding: 0.75rem 1.5rem;
  background-color: #db2e5a;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1rem;
}

.grid {
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  font-size: 1rem;
  background: white;
}

.card:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.icon {
  font-size: 3.5rem;
  color: #db2e5a;
  margin-bottom: 0.5rem;
}
.card p {
  font-size: 24px;
}
.grid_block {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
  padding: 1rem;
}
.grid_block > div {
  height: 180px;
  width: 200px;
  z-index: 99;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}
.grid_column_3 {
  grid-column: 3;
}
.grid_column_4 {
  grid-column: 4;
}
.grid_column_5 {
  grid-column: 5;
}
.grid_column_6 {
  grid-column: 6;
}
